body {
	background-color: #252525;
	color: #efefef;
	text-align: center;
	font-family: Montserrat;
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1, h2 {
	font-weight: 300;
}